.footer {
  color: $color-white;
  background-color: $color-primary;
  padding: 6rem 10rem 3rem;

  .content {
    align-items: center;
    margin-bottom: 12rem;
  }

  .top-content {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    margin-bottom: 2rem;

    .logo {
      max-width: 15rem;
      width: 100%;
    }
  }

  .bottom-content {
    text-align: center;
  }

  .bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-medias {
    display: flex;

    column-gap: 1.6rem;
  }

  .sm-example {
    height: 4rem;
    aspect-ratio: 1;
    // background-color: ;
    border-radius: 50%;

    &:nth-child(1) {
      background: #333 url('../../assets/img/socials/telegram.svg') no-repeat
        center;
    }
    &:nth-child(2) {
      background: #333 url('../../assets/img/socials/instagram.svg') no-repeat
        center;
    }
    &:nth-child(3) {
      background: #333 url('../../assets/img/socials/whatsapp.svg') no-repeat
        center;
    }
    &:nth-child(4) {
      background: #333 url('../../assets/img/socials/ball.svg') no-repeat center;
    }
  }
}
