.navigation {
  .burger {
    display: none;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: url('../../assets/img/burger.svg') #2a2a2a no-repeat center;
    @include respond(phone) {
      display: block;
    }
  }

  &__list {
    display: flex;
    column-gap: 4rem;

    @include respond(phone) {
      display: none;
    }
  }

  &__item {
    color: $color-white;
    font-size: 1.8rem;
    transition: 0.15s ease-in-out;
    &:hover {
      color: $color-secondary;
    }
  }
}
