.section-feedback {
  background-color: $color-primary;
  border-bottom: 10px solid $color-secondary;
  transform: skewY(-5deg);
  padding: 14rem 0 8rem;

  @include respond(phone) {
    padding: 7rem 0 4rem;
  }

  .content {
    transform: skewY(5deg);
  }

  .heading-content {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;

    @include respond(phone) {
      max-width: 90%;
    }
  }

  .section-info {
    width: 70%;

    @include respond(phone) {
      width: 80%;
    }
  }

  .paragraph-feedback {
    color: #aaa;
  }

  .star-content {
    display: flex;
    justify-content: space-between;
  }

  .star-left,
  .star-right {
    max-width: 4rem;
  }

  .star-left {
    align-self: flex-end;
  }

  .star-right {
    align-self: flex-start;
  }

  .slider {
    margin-top: 6rem;

    @include respond(phone) {
      padding: 0 2rem;
    }
  }

  .slider-cards {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    margin: 0 auto;
  }

  .controls {
    display: flex;
    justify-content: center;
    column-gap: 1.6rem;
    margin-top: 4rem;

    & > button {
      height: 5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px solid $color-white;
      background: url('./../assets/img/arroy-right-white.svg') no-repeat center;
    }

    .go-left {
      transform: rotate(180deg);
    }
  }
}
