.feedback-card {
  box-sizing: border-box;
  border-radius: 3rem;
  padding: 2.3rem 4rem;
  background-color: #2a2a2a;
  color: $color-white;
  // max-width: 65rem;
  max-width: 100%;

  .card-header {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    margin-bottom: 4rem;

    .avatar {
      position: relative;
      z-index: 10;
      height: 6rem;
      aspect-ratio: 1;
      // background-color: $color-grey;
      border-radius: 50%;
    }

    .user-info {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 2.1rem;
        font-weight: 500;
      }

      .about {
        font-size: 1.8rem;
        color: $color-grey-light;
      }
    }
    .decoration {
      height: 5rem;
      width: 5rem;
      margin-left: auto;
      align-self: flex-start;
      background: url('./../assets/img/quoteup.svg') no-repeat center center;
    }
  }
}
