.hero {
  text-align: center;
  margin-top: -0.1rem;
  // background-color: $color-primary;
  padding-top: 12rem;
  // clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 90%);

  background-image: linear-gradient(
    175deg,
    #222222 0%,
    #222222 75%,
    transparent 50%
  );

  @include respond(phone) {
    padding: 5.5rem 0 10rem 0;
  }

  .cases {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(20%, min(20%, 28rem)));
    gap: 2rem;

    padding: 16rem 0 10rem;

    @include respond(phone) {
      padding: 10rem 0 0;
      gap: 0;
    }

    @include respond(phone) {
      grid-template-columns: repeat(2, 20rem);
    }

    &__card {
      position: relative;
      max-width: 30rem;
      aspect-ratio: 1/1;
      border: 10px solid $color-white;
      border-radius: 3rem;
      overflow: hidden;

      &:nth-child(odd) {
        transform: translateY(-2rem) rotate(10deg);

        @include respond(phone) {
          transform: translate(1rem, -2rem) rotate(10deg);
        }
      }

      &:nth-child(even) {
        transform: translateY(2rem) rotate(-10deg);

        @include respond(phone) {
          transform: translate(-1rem, 2rem) rotate(-10deg);
        }
      }
    }
  }
}
