.section-process-heading-content {
  text-align: center;
  max-width: 80%;
  margin: 14rem auto 8rem;

  .section-info {
    width: 70%;
  }

  .star-content {
    display: flex;
    justify-content: space-between;
  }

  .star-left {
    align-self: flex-start;
  }

  .star-right {
    align-self: flex-end;
  }
}

.process-cards {
  display: grid;
  gap: 1.6rem;
  margin-inline: 11.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.process-card {
  background-color: $color-card;
  padding: 4.7rem;
  border-radius: 5rem;

  .number {
    font-family: ME-regular;
    font-size: 3rem;
    color: $color-card-number;
  }

  .img-block {
    width: 100%;
    height: 30rem;
    border-radius: 3rem;
    margin-block: 4rem;
  }

  .discovery {
    background: url('../../assets/img/processes/discovery.png') no-repeat;
  }

  .strategy {
    background: url('../../assets/img/processes/strategy.png') no-repeat;
  }

  .advertisement {
    background: url('../../assets/img/processes/advertisement.png') no-repeat;
  }

  .testing {
    background: url('../../assets/img/processes/testing.png') no-repeat;
  }
}
