// .u-center-text {
//   text-align: center !important;
// }

.u-width-50 {
  width: 50%;

  @include respond(phone) {
    width: 100%;
  }
}

.u-width-10 {
  width: 10%;
}

.u-width-15 {
  width: 10%;
}

.u-margin-bottom-big {
  margin-bottom: 10rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
// .u-margin-bottom-medium {
//   margin-bottom: 4rem !important;

//   @include respond(tab-port) {
//     margin-bottom: 3rem !important
//   }
// }
// .u-margin-bottom-small {
//   margin-bottom: 1.5rem !important;
// }

.u-margin-top-huge {
  margin-top: 13rem !important;
}

.u-margin-top-extra-huge {
  margin-top: 20rem !important;
}

.u-margin-top-regular {
  margin-top: 3.2rem !important;
}

.u-margin-top-medium {
  margin-top: 2.3rem !important;
}

.u-margin-top-small {
  margin-top: 1.6rem !important;
}
