.section-potential {
  padding: 8rem 10rem 14rem;

  @include respond(phone) {
    padding: 0rem 2rem 9rem;
  }
}

.section-services {
  position: relative;
  padding: 0rem 10rem 17rem;

  @include respond(phone) {
    padding: 0rem 2rem 4rem;
  }
}

.section-process {
  transform: skewY(-5deg);
  border-top: 10px solid $color-secondary;

  background-image: linear-gradient(#222222 0%, #222222 95%, transparent 50%);

  &-content {
    // position: relative;
    transform: skewY(5deg);
  }
}

.section-projects {
  padding: 10rem 0 6.5rem;

  @include respond(phone) {
    padding: 5rem 0 3rem;
  }

  &-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;

    @include respond(phone) {
      flex-direction: column;
      padding: 0 2rem;
      gap: 3rem;
    }
  }
}
