<footer class="footer">
	<div class="content">
		<div class="top-content">
			<img
				src="./assets/img/dist/icons/logo.svg"
				alt="IK.Agency logo"
				class="logo"
			/>
			<h1 class="heading-primary">IK.Agency</h1>
		</div>
		<h3 class="heading-tertiary bottom-content">Innovate. Create. Launch</h3>
	</div>

	<div class="bottom-info">
		<p class="copyright">Copyright © 2021 IK.Agency. All rights reserved.</p>
		<div class="social-medias">
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://t.me/IkkAgency"
				class="sm-example"
				aria-label="Open Telegram"
			></a>
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.instagram.com/ik__agency"
				class="sm-example"
				aria-label="Open Instagram"
			></a>
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="http://wa.me/375293293845"
				class="sm-example"
				aria-label="Open WhatsApp"
			></a>
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://teletype.in/@ik.agency"
				class="sm-example"
				aria-label="Open Teletype"
			></a>
		</div>
	</div>
</footer>
