<header class="header">
	<div class="header__logo-box">
		<img
			src="./assets/img/dist/icons/logo.svg"
			alt="logo"
			class="header__logo"
		/>
	</div>
	<div class="navigation-container">
		<nav class="navigation">
			<input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
			<label
				for="navi-toggle"
				class="navigation__button"
				aria-label="Open navigation menu"
			>
				<div class="burger"></div>
				<div class="navigation__background"></div>
			</label>

			<ul class="navigation__list">
				<li class="navigation__item">
					<a
						target="_blank"
						rel="noopener noreferrer"
						href="https://t.me/IkkAgency"
						class="lang-nav-home navigation__link"
						>home</a
					>
				</li>
				<li class="navigation__item">
					<a
						target="_blank"
						rel="noopener noreferrer"
						href="https://t.me/IkkAgency"
						class="lang-nav-services navigation__link"
						>services</a
					>
				</li>
				<li class="navigation__item">
					<a
						target="_blank"
						rel="noopener noreferrer"
						href="https://teletype.in/@ik.agency"
						class="lang-nav-portfolio navigation__link"
						>portfolio</a
					>
				</li>
				<li class="navigation__item">
					<a
						target="_blank"
						rel="noopener noreferrer"
						href="https://t.me/IkkAgency"
						class="lang-nav-pricing navigation__link"
						>pricing</a
					>
				</li>
				<li class="navigation__item">
					<a
						target="_blank"
						rel="noopener noreferrer"
						href="https://t.me/IkkAgency"
						class="lang-nav-about navigation__link"
						>about</a
					>
				</li>
			</ul>
		</nav>
	</div>

	<div class="header-btns">
		<a
			target="_blank"
			rel="noopener noreferrer"
			href="https://t.me/IkkAgency"
			class="header__btn lang-contact-us contact-us"
			>Contact Us</a
		>
		<div class="select-container">
			<select
				class="lang-select"
				name="lang-select"
				id="lang-select-id"
				aria-label="Select language"
			>
				<option value="ru" selected>ru</option>
				<option value="en">en</option>
			</select>
		</div>
	</div>
</header>
